.blogCard {
    width: 600px;
    height: max-content;
    color: rgb(10, 10, 10);
    /* background-color: rgb(243, 237, 224); */
    box-shadow: 0px 0px 25px -5px;
}


.cardCover {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s all ease;
}

.cardCover:hover {
    opacity: 0.8;
}

.cardTitle {
    cursor: pointer;
}

.tags {
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(0, 0, 115, 0.515);
    border-left: 5px solid rgba(0, 0, 115, 0.515);
    padding-left: 4px;
    /* margin-right: 10px; */
}

.tag {
    color: rgb(236, 232, 232);
    background-color: blueviolet;
    opacity: 0.65;
    text-transform: lowercase;
    font-weight: 400;
    margin: 0 7px;
    padding: 6.5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.tag:hover {
    opacity: 1;
}

.cardDesc {
    margin-top: 35px;
}

.cardTitle:hover {
    opacity: 0.7;
}

.cardTitleCont {
    margin-left: 15px;
    padding: 10px;
}

.readMore {
    color: rgba(75, 75, 252, 0.7);
    font-style: italic;
    cursor: pointer;
}

.cardInfoCont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardAuthorCont {
    text-align: end;
    margin-right: 20px;
    font-size: 15px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.523);
}

.cardAuthorCont a {
    text-decoration: none;
}

.cardAuthor {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.523);
    margin-bottom: 5px;
}

@media (max-width:750px) {
    .cardAuthorCont {
        font-size: 15px;
    }

    .cardTitleCont {
        font-size: 18px;
    }

    .cardTitle {
        font-size: 30px;
    }

    .cardCover {
        height: 220px;
    }
}