.blogListCont {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f3f2fa;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    gap: 100px;
}

@media (max-width:750px) {
    body {
        background-color: #f3f2fa;
    }
}