#navCont {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.nav-link {
    text-decoration: none;
    color: white;
    transition: 0.3s all ease;
    padding: 10px;
    border-radius: 6px;
}

.nav-link:hover,
.active {
    font-weight: bold;
    background-color: #fff7ec;
    color: rgba(0, 0, 0, 0.913);
}

/* .navToggle {
    float: right;
    display: none;
}

#checkBox {
    display: none;
} */


#searchBox {
    height: 36px;
    width: 275px;
    border-radius: 7px;
}

#searchBox::placeholder {
    text-align: center;
    font-style: italic;

}

@media (max-width:750px) {
    #searchBox {
        /* display: none; */
        width: 150px;
    }

    .nav-gaming {
        display: none;
    }

    .nav-photo {
        display: none;
    }

    .nav-link {
        font-size: 18px;
    }
}